.header {
    width: 100%;
    background-color: rgb(253, 228, 86);
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 12px 0;
}

@media (max-width: 769px) {
    .header__body {
        gap: 10px;
    }
}
